<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCAp7U-jpvklOT_A3_h2BRvijlpz4i2BQ4</string>
	<key>GCM_SENDER_ID</key>
	<string>187035313188</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ZD.BinGongGan.Admin</string>
	<key>PROJECT_ID</key>
	<string>bingongganapp</string>
	<key>STORAGE_BUCKET</key>
	<string>bingongganapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:187035313188:ios:3e901d363f56d8e19564b1</string>
</dict>
</plist>